{% extends "layouts/list.html" %}

{% block rows %}
    <th>N°</th>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Estado</th>    
    <th>Opciones</th>

{% endblock rows %}

{% block columns %}

{% for user in users  %}

<tr>
    <td>{{forloop.counter}}</td>
    <td>{{ user.first_name}}</td>
    <td>{{ user.last_name}}</td>


    <td>
        {% if user.is_active %}
        <span class="badge bg-label-success me-1">Activo</span>
        {% else %}
        <span class="badge bg-label-danger me-1">Inactivo</span>
        {% endif %}
    </td>
        
        
        
    <td>
          <button type="button" class="btn btn-icon btn-info btn-edit" data-id="{{user.pk}}">
            <span class="tf-icons bx bxs-edit"></span>
          </button>

          {% if user.is_active %}

          <button type="button" class="btn btn-icon btn-warning btn-active_disactive"  data-id="{{user.pk}}">
            <span class="tf-icons bx  bx-x "></span>
          </button>

          {% else %}
          <button type="button" class="btn btn-icon btn-danger btn-active_disactive"  data-id="{{user.pk}}">
            <span class="tf-icons bx bx-check"></span>
          </button>

          {% endif %}

          <button type="button" class="btn btn-icon btn-primary btn-deleted" data-id="{{user.pk}}">
            <span class="tf-icons bx bxs-trash"></span>
          </button>
    </td>
  </tr>
{% endfor %}

{% endblock columns %}