{% extends "layouts/list.html" %}

{% block rows %}
    <th>id</th>
    <th>Nombre</th>
    <th>Tipo</th>
    <th>Fecha</th>
    <th>Opciones</th>

{% endblock rows %}

{% block columns %}

{% for meeting in meetings  %}

<tr>
    <td>{{meeting.pk}}</td>
    <td>{{ meeting.name}}</td>
    <td>
        {% if meeting.type == 'A' %}
        Área
        {% elif meeting.type == 'G'   %}
        Géneral
        {% else %}
        Directivos
        {% endif %}
    </td>


    <td>
        {{meeting.date}}
    </td>
        
        
        
    <td>

      {% if "meetings.view_attendance" in perms %}
      <a type="button" href="{{meeting.get_attendances_url}}" class="btn btn-icon btn-primary text-white" data-id="{{meeting.pk}}">
        <span class="tf-icons bx  bx-list-check"></span> 
      </a>
      {% endif %}

          <button type="button" class="btn btn-icon btn-info btn-edit" data-id="{{meeting.pk}}">
            <span class="tf-icons bx bxs-edit"></span>
          </button>

          <button type="button" class="btn btn-icon btn-danger btn-deleted" data-id="{{meeting.pk}}">
            <span class="tf-icons bx bxs-trash"></span>
          </button>
    </td>
  </tr>
{% endfor %}

{% endblock columns %}