{% extends "layouts/list.html" %}

{% block rows %}
    <th>id</th>
    <th>Nombre</th>
    <th>Estado</th>
    <th>Opciones</th>

{% endblock rows %}

{% block columns %}

{% for position in positions  %}

<tr>
    <td>{{position.pk}}</td>
    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ position.name}}</strong></td>


    <td>
        {% if position.status %}
        <span class="badge bg-label-success me-1">Activo</span>
        {% else %}
        <span class="badge bg-label-danger me-1">Inactivo</span>
        {% endif %}
    </td>
        
        
        
    <td>
          <button type="button" class="btn btn-icon btn-info btn-edit" data-id="{{position.pk}}">
            <span class="tf-icons bx bxs-edit"></span>
          </button>

          {% if position.status %}

          <button type="button" class="btn btn-icon btn-warning btn-active_disactive"  data-id="{{position.pk}}">
            <span class="tf-icons bx  bx-x "></span>
          </button>

          {% else %}
          <button type="button" class="btn btn-icon btn-danger btn-active_disactive"  data-id="{{position.pk}}">
            <span class="tf-icons bx bx-check"></span>
          </button>

          {% endif %}

          <button type="button" class="btn btn-icon btn-primary btn-deleted" data-id="{{position.pk}}">
            <span class="tf-icons bx bxs-trash"></span>
          </button>
    </td>
  </tr>
{% endfor %}

{% endblock columns %}