{% extends "layouts/list.html" %}

{% block rows %}
    <th>id</th>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Área</th>
    <th>Cargo</th>
    <th>Estado</th>
    <th>Opciones</th>

{% endblock rows %}

{% block columns %}

{% for worker in workers  %}

<tr>
    <td>{{worker.pk}}</td>
    <td>{{worker.name}}</td>
    <td>{{worker.last_name}}</td>
    <td>{{worker.field.name}}</td>
    <td>{{worker.position.name}}</td>


    <td>
        {% if worker.status %}
        <span class="badge bg-label-success me-1">Activo</span>
        {% else %}
        <span class="badge bg-label-danger me-1">Inactivo</span>
        {% endif %}
    </td>
        
        
        
    <td>
          <a type="button" class="btn btn-icon btn-primary btn-edit" href="{{worker.get_absolute_url}}">
            <span class="tf-icons bx bx-info-circle"></span>
          </a>

          <button type="button" class="btn btn-icon btn-info btn-edit" data-id="{{worker.pk}}">
            <span class="tf-icons bx bxs-edit"></span>
          </button>

          {% if worker.status %}

          <button type="button" class="btn btn-icon btn-warning btn-active_disactive"  data-id="{{worker.pk}}">
            <span class="tf-icons bx  bx-x "></span>
          </button>

          {% else %}
          <button type="button" class="btn btn-icon btn-success btn-active_disactive"  data-id="{{worker.pk}}">
            <span class="tf-icons bx bx-check"></span>
          </button>

          {% endif %}

          <button type="button" class="btn btn-icon btn-danger btn-deleted" data-id="{{worker.pk}}">
            <span class="tf-icons bx bxs-trash"></span>
          </button>
    </td>
  </tr>
{% endfor %}

{% endblock columns %}